            /*bloco1*/
            
            div#bloco1 {
                background: #240048;
                color: #fff;
                border-radius: 10% 10%/ 0px 0px 25px 25px;
                height: 290px;
            }
            
            .dias {
                display: flex;
                justify-content: space-evenly;
                text-align: center;
            }
            
            .mes {
                text-align: end;
            }
            
            .img-logo {
                display: flex;
                justify-content: center;
            }
            /*bloco2*/
            
            .info {
                border: solid 1px #240048;
                border-radius: 10px;
                margin: 20px 0px;
                padding: 20px;
            }
            
            i.fas.fa-lock {
                display: flex;
                justify-content: flex-end;
            }
            
            .info img {
                width: 50px;
                height: 50px;
                border-radius: 25px 25px;
            }
            
            .info #img2 {
                position: static;
                margin-left: -39px;
                margin-top: 5px;
            }
            
            .back {
                background: #240048;
                border-radius: 25px 25px;
                margin-left: -13px;
                width: 19px;
                height: 17px;
                position: relative;
                top: -36px;
                left: 26px;
            }
            
            div.back .p2 {
                font-size: 8pt;
                color: #fff;
                margin-top: -15px;
                padding-left: 2px;
            }
            
            div.col-sm-12 {
                display: flex;
                padding: 10px 20px 10px 0px;
                position: static;
            }
            
            div.col-sm-12 p {
                font-size: 10pt;
                display: flex;
                color: #240048;
                padding-left: 30px;
                padding-top: 15px;
            }
            
            div.col-sm-12 i {
                padding-left: 50px;
                padding-top: 5px;
                color: #240048;
            }
            /*navbar*/
            
            div.col-2 img {
                width: 25px;
                height: 25px;
                border-radius: 25px 25px;
            }
            
            nav.nav {
                display: flex;
                background: #240048;
                position: fixed;
                bottom: 0;
                width: 100%;
                border-radius: 5% 5%/ 10px 10px 0px 0px;
                z-index: 999;
            }
            
            nav.nav .col-2 {
                padding: 10px 32px 10px 32px;
                color: #fff;
            }
            
            nav.nav .col-2:hover {
                color: #b983b0;
            }
            
            .content-nav {
                width: 100%;
            }
            
            div.plus {
                position: relative;
                border-radius: 40px 40px 40px 40px;
                box-shadow: 0 0 1em #000000bb;
                top: -20px;
                background-color: #240048;
                width: 62px;
                height: 28px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            @media only screen and (max-width: 320px) {
                nav.nav .col-2 {
                    padding: 10px 40px 10px 17px;
                }
                div#mes {
                    padding-left: 255px;
                }
                div.col-sm-12 {
                    padding: 19px 16px 1px 0px;
                }
                div#plus {
                    border-radius: 100%;
                    padding: 10px 20px;
                }
                div#logo {
                    margin-left: 110px;
                }
            }